[Desktop Entry]
Name=qv2ray
Exec=/home/xxx/.config/qv2ray/Qv2ray.AppImage
Icon=/home/xxx/.config/qv2ray/qv2ray.512.png
Type=Application
StartupNotify=true
